html, body {
    padding: 0;
    margin: 0;
}

nav {
    background-color: #F2994A;
    text-align: center;
    padding: 22px;
    color: #ffffff;

}
nav h1 {
    margin: 0;
}

h2{
    text-align: center;
}

form{
    text-align: center;
    
}


.button{
    text-align: center;
    margin: 2px 44%;
    color: #ffffff;
    background-color: rgb(34, 168, 230);
    width: 170px;
}

